<% if !session[:logged_user].blank? %>
	<%=render :partial => "logout"%>
<% end %>
	<div id="login_panel">

		<%= form_for :session, :url => {:action => "create"} do |f| %>
			<%=f.text_field :username, :class => "login_field" %> <br/>
			<%=f.password_field :password, :class => "login_field" %><br/>
			<%=f.submit "Login", :id => "login_button" %>
		<%end %>

		<%= button_to "Register", new_user_path, :method => "get"%>
	</div>		